#root {
}
button:focus,
button:active {
  outline: none;
  border: none;
}

body {
  background-color: #fffcfc;
  min-height: fit-content;
overflow-y: auto;  
}
.fd {
  width: 100%;
  height: 100%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
